In [1]:
import talib
import pandas as pd
import numpy as np
import pandas_ta as ta
from numba import njit

# Initial preprocessing

In [2]:
data = pd.read_excel("C://Users//sahil//OneDrive//Desktop//SBIN.xlsx")
data.head(5)

,Date,Open,High,Low,Close,% Change,% Change vs Average,Volume,Unnamed: 8,Unnamed: 9
0,Tue Jan 01 2019 09:15:00 GMT+0530 (India Stand...,297.5,297.55,296.05,296.35,0.19,0.18,190958,NaN,NaN
1,Tue Jan 01 2019 09:18:00 GMT+0530 (India Stand...,296.3,296.40,295.45,295.90,-0.15,-0.15,165295,NaN,NaN
2,Tue Jan 01 2019 09:21:00 GMT+0530 (India Stand...,295.8,295.90,295.40,295.80,-0.03,-0.04,76629,NaN,NaN
3,Tue Jan 01 2019 09:24:00 GMT+0530 (India Stand...,295.8,295.90,295.25,295.40,-0.14,-0.14,98605,NaN,NaN
4,Tue Jan 01 2019 09:27:00 GMT+0530 (India Stand...,295.3,295.80,295.20,295.75,0.12,0.12,83583,NaN,NaN

In [3]:
# Splitting the values based on "T" separator and creating new columns
data_split = data["Date"].str.split("GMT", expand=True)
data_split.columns = ['date_time', 'KACHRA']

print(data_split.head(5))

                   date_time                       KACHRA
0  Tue Jan 01 2019 09:15:00   +0530 (India Standard Time)
1  Tue Jan 01 2019 09:18:00   +0530 (India Standard Time)
2  Tue Jan 01 2019 09:21:00   +0530 (India Standard Time)
3  Tue Jan 01 2019 09:24:00   +0530 (India Standard Time)
4  Tue Jan 01 2019 09:27:00   +0530 (India Standard Time)

In [4]:
data["date_time"] = data_split["date_time"]

In [5]:
data = data.drop("Date",axis="columns")

In [55]:
data.head()

,Open,High,Low,Close,Volume,olhc4,rsi_14,macd,macd_signal,macd_hist,macd_y,supertrend,supertrend_y,date1,Timestamp,TEMA7,TEMA21
0,297.5,297.55,296.05,296.35,190958,296.8625,NaN,NaN,NaN,NaN,0,0.0,0,Jan-01-2019,2019-01-01 09:15:00,NaN,NaN
1,296.3,296.40,295.45,295.90,165295,296.0125,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,2019-01-01 09:18:00,NaN,NaN
2,295.8,295.90,295.40,295.80,76629,295.7250,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,2019-01-01 09:21:00,NaN,NaN
3,295.8,295.90,295.25,295.40,98605,295.5875,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,2019-01-01 09:24:00,NaN,NaN
4,295.3,295.80,295.20,295.75,83583,295.5125,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,2019-01-01 09:27:00,NaN,NaN

In [7]:
data = data.drop(["Unnamed: 8","Unnamed: 9"],axis= "columns")

In [8]:
pip install fsspec

Requirement already satisfied: fsspec in c:\users\sahil\anaconda3\envs\newpy\lib\site-packages (2024.3.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import  fsspec
import openpyxl

In [10]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\sahil\anaconda3\envs\newpy\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\sahil\anaconda3\envs\newpy\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
data["olhc4"] = (data["Open"] + data["High"] + data["Low"] + data["Close"])/4 
data.head()

,Open,High,Low,Close,% Change,% Change vs Average,Volume,date_time,olhc4
0,297.5,297.55,296.05,296.35,0.19,0.18,190958,Tue Jan 01 2019 09:15:00,296.8625
1,296.3,296.40,295.45,295.90,-0.15,-0.15,165295,Tue Jan 01 2019 09:18:00,296.0125
2,295.8,295.90,295.40,295.80,-0.03,-0.04,76629,Tue Jan 01 2019 09:21:00,295.7250
3,295.8,295.90,295.25,295.40,-0.14,-0.14,98605,Tue Jan 01 2019 09:24:00,295.5875
4,295.3,295.80,295.20,295.75,0.12,0.12,83583,Tue Jan 01 2019 09:27:00,295.5125

In [12]:
data = data.drop(["% Change","% Change vs Average"],axis="columns")

In [13]:
# Splitting the values based on "T" separator and creating new columns
data_split = data["date_time"].str.split(" ", expand=True)
print(data_split.head(5))

#adding time to data
data["time"] = data_split[4]
data_split["s"] = data_split[0] + "-" + data_split[1] + "-" + data_split[2] + "-" + data_split[3]
data_split
data["date"] = data_split["s"]

     0    1   2     3         4 5
0  Tue  Jan  01  2019  09:15:00
1  Tue  Jan  01  2019  09:18:00
2  Tue  Jan  01  2019  09:21:00
3  Tue  Jan  01  2019  09:24:00
4  Tue  Jan  01  2019  09:27:00

In [14]:
data = data.drop("date_time",axis="columns")

In [15]:
data.head()

    Open    High     Low   Close  Volume     olhc4      time             date
0  297.5  297.55  296.05  296.35  190958  296.8625  09:15:00  Tue-Jan-01-2019
1  296.3  296.40  295.45  295.90  165295  296.0125  09:18:00  Tue-Jan-01-2019
2  295.8  295.90  295.40  295.80   76629  295.7250  09:21:00  Tue-Jan-01-2019
3  295.8  295.90  295.25  295.40   98605  295.5875  09:24:00  Tue-Jan-01-2019
4  295.3  295.80  295.20  295.75   83583  295.5125  09:27:00  Tue-Jan-01-2019

In [16]:
data["rsi_14"] = talib.RSI(data["Close"], timeperiod=14)

In [17]:
data.head(15)

,Open,High,Low,Close,Volume,olhc4,time,date,rsi_14
0,297.50,297.55,296.05,296.35,190958,296.8625,09:15:00,Tue-Jan-01-2019,NaN
1,296.30,296.40,295.45,295.90,165295,296.0125,09:18:00,Tue-Jan-01-2019,NaN
2,295.80,295.90,295.40,295.80,76629,295.7250,09:21:00,Tue-Jan-01-2019,NaN
3,295.80,295.90,295.25,295.40,98605,295.5875,09:24:00,Tue-Jan-01-2019,NaN
4,295.30,295.80,295.20,295.75,83583,295.5125,09:27:00,Tue-Jan-01-2019,NaN
5,295.75,295.80,295.50,295.60,50320,295.6625,09:30:00,Tue-Jan-01-2019,NaN
6,295.60,295.60,294.95,295.05,129371,295.3000,09:33:00,Tue-Jan-01-2019,NaN
7,295.05,295.60,295.05,295.40,45365,295.2750,09:36:00,Tue-Jan-01-2019,NaN
8,295.40,295.55,295.30,295.45,37982,295.4250,09:39:00,Tue-Jan-01-2019,NaN
9,295.45,295.50,295.10,295.20,65469,295.3125,09:42:00,Tue-Jan-01-2019,NaN
10,295.20,295.25,294.40,294.45,153993,294.8250,09:45:00,Tue-Jan-01-2019,NaN
11,294.45,294.90,294.40,294.65,86627,294.6000,09:48:00,Tue-Jan-01-2019,NaN
12,294.65,295.10,294.60,294.65,99758,294.7500,09:51:00,Tue-Jan-01-2019,NaN
13,294.65,294.65,293.85,294.15,168783,294.3250,09:54:00,Tue-Jan-01-2019,NaN
14,294.15,294.35,294.00,294.15,81625,294.1625,09:57:00,Tue-Jan-01-2019,23.170732

# macd

In [18]:
macd, macd_signal, macd_hist = talib.MACD(data["Close"], fastperiod=12, slowperiod=26, signalperiod=9)
data["macd"]= macd
data["macd_signal"]= macd_signal
data["macd_hist"]= macd_hist
data.head(55)

,Open,High,Low,Close,Volume,olhc4,time,date,rsi_14,macd,macd_signal,macd_hist
0,297.50,297.55,296.05,296.35,190958,296.8625,09:15:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
1,296.30,296.40,295.45,295.90,165295,296.0125,09:18:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
2,295.80,295.90,295.40,295.80,76629,295.7250,09:21:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
3,295.80,295.90,295.25,295.40,98605,295.5875,09:24:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
4,295.30,295.80,295.20,295.75,83583,295.5125,09:27:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
5,295.75,295.80,295.50,295.60,50320,295.6625,09:30:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
6,295.60,295.60,294.95,295.05,129371,295.3000,09:33:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
7,295.05,295.60,295.05,295.40,45365,295.2750,09:36:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
8,295.40,295.55,295.30,295.45,37982,295.4250,09:39:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
9,295.45,295.50,295.10,295.20,65469,295.3125,09:42:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
10,295.20,295.25,294.40,294.45,153993,294.8250,09:45:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
11,294.45,294.90,294.40,294.65,86627,294.6000,09:48:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
12,294.65,295.10,294.60,294.65,99758,294.7500,09:51:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
13,294.65,294.65,293.85,294.15,168783,294.3250,09:54:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN
14,294.15,294.35,294.00,294.15,81625,294.1625,09:57:00,Tue-Jan-01-2019,23.170732,NaN,NaN,NaN
15,294.15,294.50,293.95,294.45,114850,294.2625,10:00:00,Tue-Jan-01-2019,28.782609,NaN,NaN,NaN
16,294.45,294.45,294.30,294.35,30103,294.3875,10:03:00,Tue-Jan-01-2019,28.047191,NaN,NaN,NaN
17,294.35,294.70,294.30,294.30,50192,294.4125,10:06:00,Tue-Jan-01-2019,27.666551,NaN,NaN,NaN
18,294.30,294.50,294.20,294.35,32174,294.3375,10:09:00,Tue-Jan-01-2019,28.708501,NaN,NaN,NaN
19,294.35,294.70,294.30,294.70,34210,294.5125,10:12:00,Tue-Jan-01-2019,35.691744,NaN,NaN,NaN
20,294.70,294.75,294.50,294.75,38436,294.6750,10:15:00,Tue-Jan-01-2019,36.646466,NaN,NaN,NaN
21,294.75,294.75,294.50,294.65,39766,294.6625,10:18:00,Tue-Jan-01-2019,35.510966,NaN,NaN,NaN
22,294.65,294.95,294.60,294.65,34951,294.7125,10:21:00,Tue-Jan-01-2019,35.510966,NaN,NaN,NaN
23,294.65,294.80,294.60,294.75,26461,294.7000,10:24:00,Tue-Jan-01-2019,37.748026,NaN,NaN,NaN
24,294.70,295.10,294.70,295.05,56271,294.8875,10:27:00,Tue-Jan-01-2019,44.021642,NaN,NaN,NaN
25,295.05,295.05,294.85,294.95,42304,294.9750,10:30:00,Tue-Jan-01-2019,42.484689,NaN,NaN,NaN
26,294.95,295.00,294.55,294.80,48272,294.8250,10:33:00,Tue-Jan-01-2019,40.216522,NaN,NaN,NaN
27,294.80,295.15,294.60,295.10,55501,294.9125,10:36:00,Tue-Jan-01-2019,46.382013,NaN,NaN,NaN
28,295.05,295.50,294.90,295.45,142767,295.2250,10:39:00,Tue-Jan-01-2019,52.532560,NaN,NaN,NaN
29,295.45,295.75,295.25,295.70,207771,295.5375,10:42:00,Tue-Jan-01-2019,56.381414,NaN,NaN,NaN
30,295.70,296.10,295.70,295.95,195918,295.8625,10:45:00,Tue-Jan-01-2019,59.884365,NaN,NaN,NaN
31,295.90,296.10,295.80,296.10,89589,295.9750,10:48:00,Tue-Jan-01-2019,61.863343,NaN,NaN,NaN
32,296.10,296.30,296.05,296.25,80789,296.1750,10:51:00,Tue-Jan-01-2019,63.787205,NaN,NaN,NaN
33,296.15,296.30,296.05,296.10,80731,296.1500,10:54:00,Tue-Jan-01-2019,60.500398,0.188785,-0.092559,0.281344
34,296.05,296.10,295.80,296.00,74682,295.9875,10:57:00,Tue-Jan-01-2019,58.342076,0.213436,-0.031360,0.244796
35,296.00,296.00,295.55,295.90,101438,295.8625,11:00:00,Tue-Jan-01-2019,56.183577,0.222340,0.019380,0.202960
36,295.85,296.05,295.70,295.80,71309,295.8500,11:03:00,Tue-Jan-01-2019,54.030814,0.218805,0.059265,0.159540
37,295.80,296.00,295.75,295.85,29706,295.8500,11:06:00,Tue-Jan-01-2019,54.960078,0.217530,0.090918,0.126612
38,295.80,295.95,295.70,295.70,66656,295.7875,11:09:00,Tue-Jan-01-2019,51.590701,0.202087,0.113152,0.088935
39,295.75,295.80,295.30,295.55,94844,295.6000,11:12:00,Tue-Jan-01-2019,48.395542,0.175718,0.125665,0.050053
40,295.55,295.75,295.50,295.70,45867,295.6250,11:15:00,Tue-Jan-01-2019,51.622192,0.165023,0.133536,0.031486
41,295.75,296.00,295.65,296.00,55847,295.8500,11:18:00,Tue-Jan-01-2019,57.364083,0.178694,0.142568,0.036126
42,296.00,296.30,295.80,296.10,83347,296.0500,11:21:00,Tue-Jan-01-2019,59.106401,0.195346,0.153123,0.042222
43,296.10,296.20,296.05,296.10,32706,296.1125,11:24:00,Tue-Jan-01-2019,59.106401,0.206166,0.163732,0.042434
44,296.10,296.10,295.85,295.90,34714,295.9875,11:27:00,Tue-Jan-01-2019,53.988924,0.196339,0.170253,0.026086
45,295.90,296.05,295.90,295.90,24483,295.9375,11:30:00,Tue-Jan-01-2019,53.988924,0.186403,0.173483,0.012920
46,295.90,296.15,295.90,296.10,39086,296.0125,11:33:00,Tue-Jan-01-2019,58.187455,0.192448,0.177276,0.015172
47,296.15,296.20,295.95,296.15,56058,296.1125,11:36:00,Tue-Jan-01-2019,59.190050,0.198980,0.181617,0.017363
48,296.20,296.25,295.90,296.00,57831,296.0875,11:39:00,Tue-Jan-01-2019,54.934368,0.189864,0.183267,0.006598
49,296.00,296.20,295.95,296.00,24143,296.0375,11:42:00,Tue-Jan-01-2019,54.934368,0.180559,0.182725,-0.002166
50,296.00,296.15,295.50,295.70,96327,295.8375,11:45:00,Tue-Jan-01-2019,47.082401,0.147278,0.175636,-0.028357
51,295.55,295.70,295.50,295.60,55745,295.5875,11:48:00,Tue-Jan-01-2019,44.784530,0.111549,0.162818,-0.051270
52,295.55,295.65,295.55,295.60,26818,295.5875,11:51:00,Tue-Jan-01-2019,44.784530,0.082284,0.146711,-0.064427
53,295.60,295.65,295.50,295.60,32660,295.5875,11:54:00,Tue-Jan-01-2019,44.784530,0.058418,0.129053,-0.070635
54,295.55,295.70,295.55,295.65,52061,295.6125,11:57:00,Tue-Jan-01-2019,46.417631,0.043043,0.111851,-0.068808

In [19]:
macd_y1 = []
def macd_y(data):
    for i in range(len(data)):
        if data["macd"][i] > data["macd_signal"][i] and data["macd_hist"][i] > 0.18:
            macd_y1.append(1)
        elif data["macd"][i] < data["macd_signal"][i] and data["macd_hist"][i] < -0.18:
            macd_y1.append(-1)
        else:
            macd_y1.append(0)
    return macd_y1

In [20]:
macd_y(data)
data["macd_y"] = macd_y1

In [21]:
data["macd_y"].value_counts()

macd_y
 0    114998
 1     21350
-1     21311
Name: count, dtype: int64

# supertrend

In [22]:
data.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'olhc4', 'time', 'date',
       'rsi_14', 'macd', 'macd_signal', 'macd_hist', 'macd_y'],
      dtype='object')

In [23]:
su = ta.supertrend(data["High"],data["Low"],data["Close"],length=14,multiplier=3)
su

        SUPERT_14_3.0  SUPERTd_14_3.0  SUPERTl_14_3.0  SUPERTs_14_3.0
0            0.000000               1             NaN             NaN
1                 NaN               1             NaN             NaN
2                 NaN               1             NaN             NaN
3                 NaN               1             NaN             NaN
4                 NaN               1             NaN             NaN
...               ...             ...             ...             ...
157654     761.819225              -1             NaN      761.819225
157655     761.805352              -1             NaN      761.805352
157656     761.805352              -1             NaN      761.805352
157657     761.805352              -1             NaN      761.805352
157658     761.805352              -1             NaN      761.805352

[157659 rows x 4 columns]

In [24]:
data["supertrend"]=su["SUPERT_14_3.0"]

In [25]:
supertrend1_y = []
def supertrend_y(data):
    for i in range(len(data)):
        if data["supertrend"][i] > data["Close"][i] and data["macd_hist"][i] < -0.18:
            supertrend1_y.append(-1)
        elif data["supertrend"][i] < data["Close"][i] and data["macd_hist"][i] > 0.18:
            supertrend1_y.append(1)
        else:
            supertrend1_y.append(0)
    return supertrend1_y

In [26]:
supertrend_y(data)

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [27]:
data["supertrend_y"] = supertrend1_y

In [28]:
data["supertrend_y"].value_counts()

supertrend_y
 0    127063
 1     15996
-1     14600
Name: count, dtype: int64

In [29]:
data.head(5)

,Open,High,Low,Close,Volume,olhc4,time,date,rsi_14,macd,macd_signal,macd_hist,macd_y,supertrend,supertrend_y
0,297.5,297.55,296.05,296.35,190958,296.8625,09:15:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN,0,0.0,0
1,296.3,296.40,295.45,295.90,165295,296.0125,09:18:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN,0,NaN,0
2,295.8,295.90,295.40,295.80,76629,295.7250,09:21:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN,0,NaN,0
3,295.8,295.90,295.25,295.40,98605,295.5875,09:24:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN,0,NaN,0
4,295.3,295.80,295.20,295.75,83583,295.5125,09:27:00,Tue-Jan-01-2019,NaN,NaN,NaN,NaN,0,NaN,0

In [30]:
data_split = data["date"].str.split("-", expand=True)
print(data_split.head(5))
data["date1"] = data_split[1] + "-" + data_split[2] + "-" + data_split[3]
data = data.drop("date",axis=1)
data["timestamp"] = data["date1"] + " " + data["time"]
data = data.drop("time",axis=1)

     0    1   2     3
0  Tue  Jan  01  2019
1  Tue  Jan  01  2019
2  Tue  Jan  01  2019
3  Tue  Jan  01  2019
4  Tue  Jan  01  2019

In [31]:
data.head(5)

,Open,High,Low,Close,Volume,olhc4,rsi_14,macd,macd_signal,macd_hist,macd_y,supertrend,supertrend_y,date1,timestamp
0,297.5,297.55,296.05,296.35,190958,296.8625,NaN,NaN,NaN,NaN,0,0.0,0,Jan-01-2019,Jan-01-2019 09:15:00
1,296.3,296.40,295.45,295.90,165295,296.0125,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,Jan-01-2019 09:18:00
2,295.8,295.90,295.40,295.80,76629,295.7250,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,Jan-01-2019 09:21:00
3,295.8,295.90,295.25,295.40,98605,295.5875,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,Jan-01-2019 09:24:00
4,295.3,295.80,295.20,295.75,83583,295.5125,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,Jan-01-2019 09:27:00

In [32]:
data['Timestamp'] = pd.to_datetime(data['timestamp'], format='%b-%d-%Y %H:%M:%S')

In [33]:
data.head(5)

,Open,High,Low,Close,Volume,olhc4,rsi_14,macd,macd_signal,macd_hist,macd_y,supertrend,supertrend_y,date1,timestamp,Timestamp
0,297.5,297.55,296.05,296.35,190958,296.8625,NaN,NaN,NaN,NaN,0,0.0,0,Jan-01-2019,Jan-01-2019 09:15:00,2019-01-01 09:15:00
1,296.3,296.40,295.45,295.90,165295,296.0125,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,Jan-01-2019 09:18:00,2019-01-01 09:18:00
2,295.8,295.90,295.40,295.80,76629,295.7250,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,Jan-01-2019 09:21:00,2019-01-01 09:21:00
3,295.8,295.90,295.25,295.40,98605,295.5875,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,Jan-01-2019 09:24:00,2019-01-01 09:24:00
4,295.3,295.80,295.20,295.75,83583,295.5125,NaN,NaN,NaN,NaN,0,NaN,0,Jan-01-2019,Jan-01-2019 09:27:00,2019-01-01 09:27:00

In [34]:
data = data.drop("timestamp",axis=1)

In [35]:
data.sort_values(by='Timestamp', inplace=True)

In [36]:
df = data.copy()

In [37]:
pd.set_option("display.max_rows",None)
# Call the function with your DataFrame 'df'
df.iloc[-126::,]

,Open,High,Low,Close,Volume,olhc4,rsi_14,macd,macd_signal,macd_hist,macd_y,supertrend,supertrend_y,date1,Timestamp
157533,767.05,767.45,766.20,766.95,150938,766.9125,66.907446,0.933858,0.774168,0.159690,0,763.270663,0,Feb-22-2024,2024-02-22 15:27:00
157534,766.65,769.20,764.10,764.90,384092,766.2125,50.220311,0.788854,0.777105,0.011749,0,763.270663,0,Feb-23-2024,2024-02-23 09:15:00
157535,765.05,766.75,764.35,766.00,217102,765.5375,56.490933,0.754006,0.772485,-0.018479,0,763.270663,0,Feb-23-2024,2024-02-23 09:18:00
157536,765.95,769.90,765.80,769.90,270703,767.8875,70.621172,1.029222,0.823833,0.205389,1,763.270663,1,Feb-23-2024,2024-02-23 09:21:00
157537,769.30,770.50,768.25,770.20,309623,769.5625,71.390862,1.257050,0.910476,0.346574,1,764.116069,1,Feb-23-2024,2024-02-23 09:24:00
157538,770.15,770.20,768.35,769.15,148138,769.4625,64.974658,1.337461,0.995873,0.341588,1,764.116069,1,Feb-23-2024,2024-02-23 09:27:00
157539,769.05,769.30,767.50,767.70,163015,768.3875,57.314101,1.269550,1.050609,0.218942,1,764.116069,1,Feb-23-2024,2024-02-23 09:30:00
157540,767.70,767.85,766.55,767.15,180345,767.3125,54.680626,1.158001,1.072087,0.085914,0,764.116069,0,Feb-23-2024,2024-02-23 09:33:00
157541,767.10,768.85,766.60,768.85,96551,767.8500,60.692551,1.193021,1.096274,0.096747,0,764.116069,0,Feb-23-2024,2024-02-23 09:36:00
157542,768.70,769.45,768.15,769.15,103860,768.8625,61.659154,1.230795,1.123178,0.107617,0,764.116069,0,Feb-23-2024,2024-02-23 09:39:00
157543,769.45,769.45,768.15,768.75,97457,768.9500,59.556228,1.214454,1.141433,0.073021,0,764.116069,0,Feb-23-2024,2024-02-23 09:42:00
157544,768.70,769.45,768.15,768.65,77571,768.7375,59.014341,1.179835,1.149114,0.030721,0,764.116069,0,Feb-23-2024,2024-02-23 09:45:00
157545,768.90,769.30,768.05,768.60,69564,768.7125,58.726620,1.135277,1.146346,-0.011069,0,764.116069,0,Feb-23-2024,2024-02-23 09:48:00
157546,768.70,769.30,767.35,767.60,78830,768.2375,53.145808,1.007658,1.118609,-0.110951,0,764.116069,0,Feb-23-2024,2024-02-23 09:51:00
157547,767.50,768.60,767.40,767.90,42843,767.8500,54.541481,0.920119,1.078911,-0.158792,0,764.116069,0,Feb-23-2024,2024-02-23 09:54:00
157548,767.75,767.90,766.65,767.55,88785,767.4625,52.573882,0.813129,1.025754,-0.212625,-1,764.116069,0,Feb-23-2024,2024-02-23 09:57:00
157549,767.80,768.10,766.75,767.40,81603,767.5125,51.712856,0.708073,0.962218,-0.254145,-1,764.116069,0,Feb-23-2024,2024-02-23 10:00:00
157550,767.40,768.00,766.90,767.45,52474,767.4375,51.995081,0.621683,0.894111,-0.272428,-1,764.116069,0,Feb-23-2024,2024-02-23 10:03:00
157551,767.50,767.50,766.20,767.00,55783,767.0500,49.207531,0.511016,0.817492,-0.306476,-1,764.116069,0,Feb-23-2024,2024-02-23 10:06:00
157552,767.00,767.70,766.30,766.55,61661,766.8875,46.521573,0.382591,0.730512,-0.347921,-1,764.116069,0,Feb-23-2024,2024-02-23 10:09:00
157553,766.55,768.40,766.10,768.35,116892,767.3500,56.702271,0.421202,0.668650,-0.247448,-1,764.116069,0,Feb-23-2024,2024-02-23 10:12:00
157554,768.20,769.00,767.50,767.50,135938,768.0500,51.697338,0.378847,0.610689,-0.231842,-1,764.116069,0,Feb-23-2024,2024-02-23 10:15:00
157555,767.50,768.45,767.30,768.05,105079,767.8250,54.496154,0.385220,0.565596,-0.180375,-1,764.116069,0,Feb-23-2024,2024-02-23 10:18:00
157556,767.90,768.00,766.15,766.30,67922,767.0875,45.468517,0.246222,0.501721,-0.255499,-1,764.116069,0,Feb-23-2024,2024-02-23 10:21:00
157557,766.30,766.30,764.40,765.05,181758,765.5125,40.329420,0.034800,0.408337,-0.373537,-1,764.116069,0,Feb-23-2024,2024-02-23 10:24:00
157558,764.85,765.20,760.90,761.85,307532,763.2000,30.748206,-0.386512,0.249367,-0.635879,-1,768.408636,-1,Feb-23-2024,2024-02-23 10:27:00
157559,761.80,762.90,759.50,761.40,244153,761.4000,29.680345,-0.748092,0.049875,-0.797967,-1,766.904448,-1,Feb-23-2024,2024-02-23 10:30:00
157560,761.30,763.20,761.05,762.30,135889,761.9625,34.574279,-0.951061,-0.150312,-0.800749,-1,766.904448,-1,Feb-23-2024,2024-02-23 10:33:00
157561,762.30,762.75,761.05,762.05,135225,762.0375,33.869152,-1.119188,-0.344087,-0.775100,-1,766.904448,-1,Feb-23-2024,2024-02-23 10:36:00
157562,762.00,762.60,760.95,762.60,207430,762.0375,36.917275,-1.194282,-0.514126,-0.680155,-1,766.904448,-1,Feb-23-2024,2024-02-23 10:39:00
157563,762.60,762.80,762.15,762.80,118973,762.5875,38.035738,-1.223551,-0.656011,-0.567540,-1,766.904448,-1,Feb-23-2024,2024-02-23 10:42:00
157564,762.65,762.80,759.30,759.65,525094,761.1000,29.241843,-1.483822,-0.821573,-0.662249,-1,766.806526,-1,Feb-23-2024,2024-02-23 10:45:00
157565,759.75,760.00,759.30,759.75,159171,759.7000,29.796751,-1.662851,-0.989829,-0.673022,-1,765.145346,-1,Feb-23-2024,2024-02-23 10:48:00
157566,759.70,760.00,755.00,759.10,447842,758.4500,28.246145,-1.836018,-1.159067,-0.676951,-1,763.674250,-1,Feb-23-2024,2024-02-23 10:51:00
157567,759.10,759.25,758.00,758.50,138159,758.7125,26.856802,-1.998629,-1.326979,-0.671650,-1,763.674250,-1,Feb-23-2024,2024-02-23 10:54:00
157568,758.35,758.60,757.50,757.85,140706,758.0750,25.399270,-2.155107,-1.492605,-0.662503,-1,763.674250,-1,Feb-23-2024,2024-02-23 10:57:00
157569,757.40,758.60,755.35,758.45,203505,757.4500,29.217920,-2.205281,-1.635140,-0.570141,-1,763.064715,-1,Feb-23-2024,2024-02-23 11:00:00
157570,758.30,760.75,758.20,760.00,275366,759.3125,38.041286,-2.095813,-1.727275,-0.368538,-1,763.064715,-1,Feb-23-2024,2024-02-23 11:03:00
157571,760.05,761.65,760.00,760.40,178396,760.5250,40.115892,-1.954255,-1.772671,-0.181584,-1,763.064715,-1,Feb-23-2024,2024-02-23 11:06:00
157572,760.45,760.45,758.70,759.50,129148,759.7750,37.105400,-1.892871,-1.796711,-0.096160,0,763.064715,0,Feb-23-2024,2024-02-23 11:09:00
157573,759.60,759.95,758.50,758.75,83960,759.2000,34.764108,-1.883037,-1.813976,-0.069061,0,763.064715,0,Feb-23-2024,2024-02-23 11:12:00
157574,758.85,759.40,758.30,758.75,66650,758.8250,34.764108,-1.853873,-1.821955,-0.031917,0,763.064715,0,Feb-23-2024,2024-02-23 11:15:00
157575,758.75,759.80,758.50,759.65,71779,759.1750,40.030347,-1.738101,-1.805185,0.067083,0,763.064715,0,Feb-23-2024,2024-02-23 11:18:00
157576,759.60,761.00,759.05,760.95,59860,760.1500,46.720823,-1.523886,-1.748925,0.225038,1,763.064715,0,Feb-23-2024,2024-02-23 11:21:00
157577,760.90,761.90,760.70,760.70,122318,761.0500,45.665715,-1.358631,-1.670866,0.312235,1,763.064715,0,Feb-23-2024,2024-02-23 11:24:00
157578,760.75,761.20,760.40,761.15,49072,760.8750,47.944535,-1.177777,-1.572248,0.394471,1,763.064715,0,Feb-23-2024,2024-02-23 11:27:00
157579,761.15,761.70,760.40,760.90,58273,761.0375,46.770924,-1.042603,-1.466319,0.423716,1,763.064715,0,Feb-23-2024,2024-02-23 11:30:00
157580,760.85,761.90,760.65,761.45,34034,761.2125,49.688739,-0.880942,-1.349244,0.468302,1,763.064715,0,Feb-23-2024,2024-02-23 11:33:00
157581,761.50,762.50,761.15,762.50,91759,761.9125,54.784483,-0.660484,-1.211492,0.551008,1,763.064715,0,Feb-23-2024,2024-02-23 11:36:00
157582,762.25,762.90,762.15,762.90,99569,762.5500,56.588348,-0.448325,-1.058858,0.610534,1,763.064715,0,Feb-23-2024,2024-02-23 11:39:00
157583,762.70,762.85,762.15,762.25,46930,762.4875,52.895405,-0.328846,-0.912856,0.584010,1,763.064715,0,Feb-23-2024,2024-02-23 11:42:00
157584,762.25,762.70,761.80,761.90,44430,762.1625,50.966676,-0.259410,-0.782167,0.522757,1,763.064715,0,Feb-23-2024,2024-02-23 11:45:00
157585,761.90,762.50,760.05,760.40,92816,761.2125,43.624980,-0.321711,-0.690076,0.368365,1,763.064715,0,Feb-23-2024,2024-02-23 11:48:00
157586,760.50,761.00,759.70,760.65,76079,760.4625,45.045817,-0.346912,-0.621443,0.274531,1,763.064715,0,Feb-23-2024,2024-02-23 11:51:00
157587,760.75,761.40,760.35,761.10,45007,760.9000,47.605580,-0.326806,-0.562516,0.235709,1,763.064715,0,Feb-23-2024,2024-02-23 11:54:00
157588,761.10,761.15,760.15,760.30,62296,760.6750,43.707777,-0.371147,-0.524242,0.153095,0,763.064715,0,Feb-23-2024,2024-02-23 11:57:00
157589,760.30,760.90,760.10,760.40,39942,760.4250,44.321460,-0.393680,-0.498130,0.104449,0,763.064715,0,Feb-23-2024,2024-02-23 12:00:00
157590,760.40,760.90,760.05,760.60,29285,760.4875,45.598837,-0.390894,-0.476682,0.085789,0,763.064715,0,Feb-23-2024,2024-02-23 12:03:00
157591,760.55,760.95,760.20,760.60,30614,760.5750,45.598837,-0.384256,-0.458197,0.073941,0,763.064715,0,Feb-23-2024,2024-02-23 12:06:00
157592,760.55,760.85,759.50,759.60,81066,760.1250,40.244811,-0.454448,-0.457447,0.002999,0,763.064715,0,Feb-23-2024,2024-02-23 12:09:00
157593,759.65,760.60,759.50,760.00,38027,759.9375,43.121668,-0.472355,-0.460429,-0.011926,0,763.064715,0,Feb-23-2024,2024-02-23 12:12:00
157594,759.95,760.50,759.80,760.10,28915,760.0875,43.849483,-0.473024,-0.462948,-0.010076,0,763.064715,0,Feb-23-2024,2024-02-23 12:15:00
157595,760.10,760.35,759.60,759.75,30693,759.9500,41.831886,-0.496078,-0.469574,-0.026504,0,763.064715,0,Feb-23-2024,2024-02-23 12:18:00
157596,759.75,760.60,759.60,760.40,54308,760.0875,46.733655,-0.456635,-0.466986,0.010351,0,763.064715,0,Feb-23-2024,2024-02-23 12:21:00
157597,760.25,761.80,760.25,761.35,67815,760.9125,52.971364,-0.344745,-0.442538,0.097793,0,763.064715,0,Feb-23-2024,2024-02-23 12:24:00
157598,761.35,761.65,761.30,761.60,34536,761.4750,54.481989,-0.233210,-0.400672,0.167462,0,763.064715,0,Feb-23-2024,2024-02-23 12:27:00
157599,761.55,761.90,761.30,761.55,58451,761.5750,54.107648,-0.147156,-0.349969,0.202813,1,763.064715,0,Feb-23-2024,2024-02-23 12:30:00
157600,761.50,761.70,761.10,761.55,23548,761.4625,54.107648,-0.078058,-0.295587,0.217529,1,763.064715,0,Feb-23-2024,2024-02-23 12:33:00
157601,761.45,761.75,761.10,761.60,33849,761.4750,54.470456,-0.019043,-0.240278,0.221235,1,763.064715,0,Feb-23-2024,2024-02-23 12:36:00
157602,761.50,761.70,761.30,761.60,37853,761.5250,54.470456,0.027411,-0.186740,0.214151,1,763.064715,0,Feb-23-2024,2024-02-23 12:39:00
157603,761.55,762.95,761.55,762.65,99751,762.1750,61.821436,0.147254,-0.119941,0.267196,1,763.064715,0,Feb-23-2024,2024-02-23 12:42:00
157604,762.65,763.00,762.35,762.40,48885,762.6000,59.363846,0.219528,-0.052047,0.271575,1,763.064715,0,Feb-23-2024,2024-02-23 12:45:00
157605,762.40,762.50,761.70,762.25,36595,762.2125,57.877180,0.261685,0.010699,0.250986,1,763.064715,0,Feb-23-2024,2024-02-23 12:48:00
157606,762.15,762.70,762.05,762.10,32209,762.2500,56.357242,0.279766,0.064512,0.215253,1,763.064715,0,Feb-23-2024,2024-02-23 12:51:00
157607,762.15,762.95,762.05,762.80,38998,762.4875,61.445665,0.346584,0.120927,0.225657,1,763.064715,0,Feb-23-2024,2024-02-23 12:54:00
157608,762.65,763.00,762.50,762.60,39205,762.6875,59.317665,0.379031,0.172548,0.206483,1,763.064715,0,Feb-23-2024,2024-02-23 12:57:00
157609,762.50,763.00,762.50,763.00,43576,762.7500,62.141616,0.432041,0.224446,0.207595,1,763.064715,0,Feb-23-2024,2024-02-23 13:00:00
157610,762.90,764.90,762.85,763.15,197820,763.4500,63.173955,0.480616,0.275680,0.204935,1,760.906349,1,Feb-23-2024,2024-02-23 13:03:00
157611,763.00,763.50,762.75,763.15,48902,763.1000,63.173955,0.513195,0.323183,0.190012,1,760.906349,1,Feb-23-2024,2024-02-23 13:06:00
157612,763.15,763.50,762.30,762.35,55646,762.8250,54.056452,0.469055,0.352358,0.116697,0,760.906349,0,Feb-23-2024,2024-02-23 13:09:00
157613,762.35,762.45,761.70,762.30,95017,762.2000,53.536394,0.425138,0.366914,0.058224,0,760.906349,0,Feb-23-2024,2024-02-23 13:12:00
157614,762.35,762.50,761.90,762.20,52838,762.2375,52.449566,0.377908,0.369113,0.008796,0,760.906349,0,Feb-23-2024,2024-02-23 13:15:00
157615,762.05,762.80,761.00,762.15,84617,762.0000,51.882431,0.332609,0.361812,-0.029203,0,760.906349,0,Feb-23-2024,2024-02-23 13:18:00
157616,762.15,762.25,760.80,761.20,114769,761.6000,42.483060,0.217545,0.332958,-0.115414,0,760.906349,0,Feb-23-2024,2024-02-23 13:21:00
157617,761.15,761.20,757.20,758.00,252658,759.3875,25.635633,-0.130355,0.240296,-0.370651,-1,762.948340,-1,Feb-23-2024,2024-02-23 13:24:00
157618,757.95,759.40,757.85,759.40,111941,758.6500,37.342793,-0.289760,0.134285,-0.424044,-1,762.437744,-1,Feb-23-2024,2024-02-23 13:27:00
157619,759.40,760.50,758.65,760.25,90267,759.7000,43.190471,-0.343541,0.038719,-0.382261,-1,762.437744,-1,Feb-23-2024,2024-02-23 13:30:00
157620,760.50,760.70,760.20,760.20,65499,760.4000,42.936622,-0.385751,-0.046175,-0.339577,-1,762.437744,-1,Feb-23-2024,2024-02-23 13:33:00
157621,760.45,760.45,759.75,760.00,62559,760.1625,41.876387,-0.430380,-0.123016,-0.307364,-1,762.437744,-1,Feb-23-2024,2024-02-23 13:36:00
157622,760.05,760.20,759.50,760.15,39073,759.9750,43.012957,-0.448475,-0.188108,-0.260368,-1,762.437744,-1,Feb-23-2024,2024-02-23 13:39:00
157623,760.05,760.25,759.45,759.55,56957,759.8250,39.671280,-0.505405,-0.251567,-0.253838,-1,762.437744,-1,Feb-23-2024,2024-02-23 13:42:00
157624,759.35,759.80,759.05,759.80,61209,759.5000,41.703547,-0.524305,-0.306115,-0.218191,-1,762.437744,-1,Feb-23-2024,2024-02-23 13:45:00
157625,759.70,759.75,758.35,759.00,76212,759.2000,37.365788,-0.596956,-0.364283,-0.232673,-1,762.437744,-1,Feb-23-2024,2024-02-23 13:48:00
157626,759.00,760.45,759.00,760.05,70881,759.6250,45.393967,-0.563312,-0.404089,-0.159223,0,762.437744,0,Feb-23-2024,2024-02-23 13:51:00
157627,760.05,760.35,759.50,759.80,58381,759.9250,43.949541,-0.550477,-0.433366,-0.117110,0,762.437744,0,Feb-23-2024,2024-02-23 13:54:00
157628,759.65,760.10,758.90,759.75,57820,759.6000,43.650384,-0.538136,-0.454320,-0.083816,0,762.437744,0,Feb-23-2024,2024-02-23 13:57:00
157629,759.50,760.10,758.55,759.50,56390,759.4125,42.107067,-0.542278,-0.471912,-0.070366,0,762.437744,0,Feb-23-2024,2024-02-23 14:00:00
157630,759.50,760.20,759.30,760.05,46504,759.7625,46.581767,-0.495468,-0.476623,-0.018845,0,762.437744,0,Feb-23-2024,2024-02-23 14:03:00
157631,759.95,760.10,758.45,759.70,54657,759.5500,44.238464,-0.481068,-0.477512,-0.003556,0,762.437744,0,Feb-23-2024,2024-02-23 14:06:00
157632,759.60,759.85,758.75,759.00,56276,759.3000,39.913819,-0.520144,-0.486038,-0.034105,0,762.437744,0,Feb-23-2024,2024-02-23 14:09:00
157633,759.00,759.50,757.60,757.75,136024,758.4625,33.597623,-0.644546,-0.517740,-0.126806,0,762.261280,0,Feb-23-2024,2024-02-23 14:12:00
157634,757.75,759.00,757.50,758.55,69211,758.2000,40.127763,-0.670850,-0.548362,-0.122488,0,762.017617,0,Feb-23-2024,2024-02-23 14:15:00
157635,758.65,759.50,758.55,758.95,49472,758.9125,43.138757,-0.651904,-0.569070,-0.082834,0,762.017617,0,Feb-23-2024,2024-02-23 14:18:00
157636,758.85,759.50,758.80,759.40,76006,759.1375,46.404272,-0.593734,-0.574003,-0.019731,0,762.017617,0,Feb-23-2024,2024-02-23 14:21:00
157637,759.35,759.50,758.80,758.85,57076,759.1250,43.143045,-0.585268,-0.576256,-0.009012,0,762.017617,0,Feb-23-2024,2024-02-23 14:24:00
157638,758.85,759.50,758.50,758.80,99303,758.9125,42.848231,-0.575953,-0.576195,0.000242,0,762.017617,0,Feb-23-2024,2024-02-23 14:27:00
157639,758.60,759.60,758.60,759.05,60076,758.9625,44.876514,-0.542149,-0.569386,0.027237,0,762.017617,0,Feb-23-2024,2024-02-23 14:30:00
157640,759.05,760.50,758.80,759.55,112942,759.4750,48.790876,-0.469600,-0.549429,0.079829,0,762.017617,0,Feb-23-2024,2024-02-23 14:33:00
157641,759.55,760.40,759.00,760.30,75059,759.8125,54.060574,-0.347579,-0.509059,0.161480,0,762.017617,0,Feb-23-2024,2024-02-23 14:36:00
157642,760.15,761.75,760.15,760.45,99973,760.6250,55.056709,-0.236052,-0.454458,0.218406,1,762.017617,0,Feb-23-2024,2024-02-23 14:39:00
157643,760.40,761.75,760.40,761.65,78151,761.0500,62.131110,-0.050256,-0.373617,0.323361,1,762.017617,0,Feb-23-2024,2024-02-23 14:42:00
157644,761.55,762.00,760.40,760.80,110752,761.1875,55.470565,0.028077,-0.293278,0.321355,1,762.017617,0,Feb-23-2024,2024-02-23 14:45:00
157645,760.80,761.25,760.05,760.90,56276,760.7500,56.067263,0.097106,-0.215202,0.312307,1,762.017617,0,Feb-23-2024,2024-02-23 14:48:00
157646,760.85,761.00,759.75,760.10,56642,760.4250,50.264396,0.086264,-0.154908,0.241173,1,762.017617,0,Feb-23-2024,2024-02-23 14:51:00
157647,760.10,760.95,760.00,760.80,67079,760.4625,54.683946,0.132627,-0.097401,0.230029,1,762.017617,0,Feb-23-2024,2024-02-23 14:54:00
157648,760.60,761.00,760.50,760.90,60506,760.7500,55.295103,0.175418,-0.042838,0.218255,1,762.017617,0,Feb-23-2024,2024-02-23 14:57:00
157649,760.75,760.80,759.35,759.80,174154,760.1750,47.677911,0.119194,-0.010431,0.129625,0,762.017617,0,Feb-23-2024,2024-02-23 15:00:00
157650,759.65,760.80,759.15,759.55,135025,759.7875,46.122819,0.053843,0.002424,0.051420,0,762.017617,0,Feb-23-2024,2024-02-23 15:03:00
157651,759.60,760.30,759.55,759.85,121111,759.8250,48.301929,0.025961,0.007131,0.018829,0,762.017617,0,Feb-23-2024,2024-02-23 15:06:00
157652,759.80,759.95,758.90,758.90,156698,759.3875,42.447157,-0.071964,-0.008688,-0.063276,0,762.017617,0,Feb-23-2024,2024-02-23 15:09:00
157653,758.90,759.45,758.70,758.90,177669,758.9875,42.447157,-0.147866,-0.036524,-0.111342,0,762.017617,0,Feb-23-2024,2024-02-23 15:12:00
157654,758.90,759.00,757.55,757.95,370315,758.3500,37.215506,-0.281431,-0.085505,-0.195926,-1,761.819225,-1,Feb-23-2024,2024-02-23 15:15:00
157655,757.90,759.00,757.30,758.10,485920,758.0750,38.504311,-0.370904,-0.142585,-0.228319,-1,761.805352,-1,Feb-23-2024,2024-02-23 15:18:00
157656,758.35,760.45,758.20,759.25,263506,759.0625,47.416344,-0.345038,-0.183076,-0.161963,0,761.805352,0,Feb-23-2024,2024-02-23 15:21:00
157657,759.45,759.65,758.50,759.45,201659,759.2625,48.805878,-0.304887,-0.207438,-0.097449,0,761.805352,0,Feb-23-2024,2024-02-23 15:24:00
157658,759.50,760.35,759.00,760.35,289069,759.8000,54.617578,-0.198160,-0.205582,0.007422,0,761.805352,0,Feb-23-2024,2024-02-23 15:27:00

In [38]:
df.shape

(157659, 15)

In [39]:
import pandas as pd

def calculate_pivot_points(df):
    pivot_points = []
    top_pivot_line = []
    bottom_pivot_line = []  # Initialize as a list
    for date, group in df.groupby(df['Timestamp'].dt.date):
        if len(group) >= 125:
            prev_day_data = df[df['Timestamp'].dt.date == date - pd.Timedelta(days=1)].tail(125)
            if len(prev_day_data) == 125:
                pivot_point = (prev_day_data['High'].max() + prev_day_data['Low'].min() + prev_day_data['Close'].iloc[-1]) / 3
                pivot_points.extend([pivot_point] * len(group))
                
                bottom_pivot_line_value = (prev_day_data["High"].max() + prev_day_data["Low"].min()) / 2
                bottom_pivot_line.extend([bottom_pivot_line_value] * len(group))  # Extend the list with the value
            else:
                pivot_points.extend([None] * len(group))
                bottom_pivot_line.extend([None] * len(group))
        else:
            pivot_points.extend([None] * len(group))
            bottom_pivot_line.extend([None] * len(group))

    df['Pivot Point'] = pivot_points
    df['bottom_pivot_line'] = bottom_pivot_line

    return df

# Call the function with your DataFrame 'df'
df = calculate_pivot_points(df)

In [40]:
df.tail()

,Open,High,Low,Close,Volume,olhc4,rsi_14,macd,macd_signal,macd_hist,macd_y,supertrend,supertrend_y,date1,Timestamp,Pivot Point,bottom_pivot_line
157654,758.90,759.00,757.55,757.95,370315,758.3500,37.215506,-0.281431,-0.085505,-0.195926,-1,761.819225,-1,Feb-23-2024,2024-02-23 15:15:00,765.65,765.0
157655,757.90,759.00,757.30,758.10,485920,758.0750,38.504311,-0.370904,-0.142585,-0.228319,-1,761.805352,-1,Feb-23-2024,2024-02-23 15:18:00,765.65,765.0
157656,758.35,760.45,758.20,759.25,263506,759.0625,47.416344,-0.345038,-0.183076,-0.161963,0,761.805352,0,Feb-23-2024,2024-02-23 15:21:00,765.65,765.0
157657,759.45,759.65,758.50,759.45,201659,759.2625,48.805878,-0.304887,-0.207438,-0.097449,0,761.805352,0,Feb-23-2024,2024-02-23 15:24:00,765.65,765.0
157658,759.50,760.35,759.00,760.35,289069,759.8000,54.617578,-0.198160,-0.205582,0.007422,0,761.805352,0,Feb-23-2024,2024-02-23 15:27:00,765.65,765.0

In [41]:
import pandas as pd

def pivot_getting(data):
    res1 = []
    sup1 = []
    res2 = []
    sup2 = []
    top_pivot_line = []
    res3 = []
    sup3 = []
    
    for date, group in data.groupby(data['Timestamp'].dt.date):
        if len(group) >= 125:
            prev_day_data = data[data['Timestamp'].dt.date == date - pd.Timedelta(days=1)].tail(125)
            present_data_data = data[data['Timestamp'].dt.date == date - pd.Timedelta(days=0)].tail(125)
            if len(prev_day_data) == 125:
                res1_val = (2 * present_data_data["Pivot Point"].max()) - prev_day_data['Low'].min()         
                sup1_val = (2 * present_data_data["Pivot Point"].max()) - prev_day_data['High'].max()
                res2_val = present_data_data["Pivot Point"].max() + (prev_day_data['High'].max()-prev_day_data['Low'].min())
                sup2_val = present_data_data["Pivot Point"].max() - (prev_day_data['High'].max()-prev_day_data['Low'].min())
                top_val =  present_data_data["Pivot Point"].max() + (present_data_data["Pivot Point"].max() - present_data_data["bottom_pivot_line"].max())             
                res1.extend([res1_val] * len(group))
                sup1.extend([sup1_val] * len(group))
                res2.extend([res2_val] * len(group))
                sup2.extend([sup2_val] * len(group))
                top_pivot_line.extend([top_val] * len(group))
            else:
                res1.extend([None] * len(group))
                sup1.extend([None] * len(group))
                res2.extend([None] * len(group))
                sup2.extend([None] * len(group))
                top_pivot_line.extend([None] * len(group))
        else:
            res1.extend([None] * len(group))
            sup1.extend([None] * len(group))
            sup2.extend([None] * len(group))
            res2.extend([None] * len(group))
            top_pivot_line.extend([None] * len(group))
            
    data['res1'] = res1
    data['sup1'] = sup1
    data['res2'] = res2
    data['sup2'] = sup2
    data["top_pivot_line"] = top_pivot_line
    return data

In [42]:
df = pivot_getting(df)

In [43]:
df.tail(5)

,Open,High,Low,Close,Volume,olhc4,rsi_14,macd,macd_signal,macd_hist,...,supertrend_y,date1,Timestamp,Pivot Point,bottom_pivot_line,res1,sup1,res2,sup2,top_pivot_line
157654,758.90,759.00,757.55,757.95,370315,758.3500,37.215506,-0.281431,-0.085505,-0.195926,...,-1,Feb-23-2024,2024-02-23 15:15:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3
157655,757.90,759.00,757.30,758.10,485920,758.0750,38.504311,-0.370904,-0.142585,-0.228319,...,-1,Feb-23-2024,2024-02-23 15:18:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3
157656,758.35,760.45,758.20,759.25,263506,759.0625,47.416344,-0.345038,-0.183076,-0.161963,...,0,Feb-23-2024,2024-02-23 15:21:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3
157657,759.45,759.65,758.50,759.45,201659,759.2625,48.805878,-0.304887,-0.207438,-0.097449,...,0,Feb-23-2024,2024-02-23 15:24:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3
157658,759.50,760.35,759.00,760.35,289069,759.8000,54.617578,-0.198160,-0.205582,0.007422,...,0,Feb-23-2024,2024-02-23 15:27:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3

In [44]:
def identify_price_position(df1):
    upper_bound = []
    lower_bound = []
    for i in df1.columns:
        if df1["Open"][i] > df1["res2"][i]:
            upper_bound.append(None)
            lower_bound.append(df1["res2"][i])
        elif df1["Open"][i] < df1["res2"][i] and df1["Open"][i] > df1["res1"][i]:
            upper_bound.append(df1["res2"][i])
            lower_bound.append(df1["res1"][i])
        elif df1["Open"][i] < df1["res1"][i] and df1["Open"][i] > df1["top_pivot_line"][i]:
            upper_bound.append(df1["res1"][i])
            lower_bound.append(df1["top_pivot_line"][i])
        elif df1["Open"][i] < df1["top_pivot_line"][i] and df1["Open"][i]> df1["Pivot Point"][i]:
            upper_bound = df1["top_pivot_line"][i]
            lower_bound = df1["Pivot Point"][i]
        elif df1["Open"][i] < df1["Pivot Point"][i] and df1["Open"][i] > df1["bottom_pivot_line"][i]:
            upper_bound = df1["Pivot Point"][i]
            lower_bound = df1["bottom_pivot_line"][i]
        elif df1["Open"][i] < df1["bottom_pivot_line"][i] and df1["Open"][i] > df1["sup1"][i]:
            upper_bound.append(df1["bottom_pivot_line"][i])
            lower_bound.append(df1["sup1"][i])
        elif df1["Open"][i] < df1["sup1"][i] and df1["Open"][i] > df1["sup2"][i]:
            upper_bound.append(df1["sup1"][i])
            lower_bound.append(df1["sup2"][i])
        else:
            upper_bound.append(df1["sup2"][i])
            lower_bound.append(None)
    return upper_bound,lower_bound

In [45]:
def identify_price_position(df1):
    upper_bound = []
    lower_bound = []
    
    for i in range(len(df1)):  # Iterate over indices instead of columns
        if df1["Open"].iloc[i] > df1["res2"].iloc[i]:
            upper_bound.append(None)
            lower_bound.append(df1["res2"].iloc[i])
        elif df1["Open"].iloc[i] < df1["res2"].iloc[i] and df1["Open"].iloc[i] > df1["res1"].iloc[i]:
            upper_bound.append(df1["res2"].iloc[i])
            lower_bound.append(df1["res1"].iloc[i])
        elif df1["Open"].iloc[i] < df1["res1"].iloc[i] and df1["Open"].iloc[i] > df1["top_pivot_line"].iloc[i]:
            upper_bound.append(df1["res1"].iloc[i])
            lower_bound.append(df1["top_pivot_line"].iloc[i])
        elif df1["Open"].iloc[i] < df1["top_pivot_line"].iloc[i] and df1["Open"].iloc[i] > df1["Pivot Point"].iloc[i]:
            upper_bound.append(df1["top_pivot_line"].iloc[i])
            lower_bound.append(df1["Pivot Point"].iloc[i])
        elif df1["Open"].iloc[i] < df1["Pivot Point"].iloc[i] and df1["Open"].iloc[i] > df1["bottom_pivot_line"].iloc[i]:
            upper_bound.append(df1["Pivot Point"].iloc[i])
            lower_bound.append(df1["bottom_pivot_line"].iloc[i])
        elif df1["Open"].iloc[i] < df1["bottom_pivot_line"].iloc[i] and df1["Open"].iloc[i] > df1["sup1"].iloc[i]:
            upper_bound.append(df1["bottom_pivot_line"].iloc[i])
            lower_bound.append(df1["sup1"].iloc[i])
        elif df1["Open"].iloc[i] < df1["sup1"].iloc[i] and df1["Open"].iloc[i] > df1["sup2"].iloc[i]:
            upper_bound.append(df1["sup1"].iloc[i])
            lower_bound.append(df1["sup2"].iloc[i])
        else:
            upper_bound.append(df1["sup2"].iloc[i])
            lower_bound.append(None)
    df["upper_bound"] = upper_bound
    df["lower_bound"] = lower_bound
    return df.tail(20)

In [46]:
pd.set_option("display.max_columns",None)

In [47]:
identify_price_position(df)

,Open,High,Low,Close,Volume,olhc4,rsi_14,macd,macd_signal,macd_hist,macd_y,supertrend,supertrend_y,date1,Timestamp,Pivot Point,bottom_pivot_line,res1,sup1,res2,sup2,top_pivot_line,upper_bound,lower_bound
157639,758.60,759.60,758.60,759.05,60076,758.9625,44.876514,-0.542149,-0.569386,0.027237,0,762.017617,0,Feb-23-2024,2024-02-23 14:30:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157640,759.05,760.50,758.80,759.55,112942,759.4750,48.790876,-0.469600,-0.549429,0.079829,0,762.017617,0,Feb-23-2024,2024-02-23 14:33:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157641,759.55,760.40,759.00,760.30,75059,759.8125,54.060574,-0.347579,-0.509059,0.161480,0,762.017617,0,Feb-23-2024,2024-02-23 14:36:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157642,760.15,761.75,760.15,760.45,99973,760.6250,55.056709,-0.236052,-0.454458,0.218406,1,762.017617,0,Feb-23-2024,2024-02-23 14:39:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157643,760.40,761.75,760.40,761.65,78151,761.0500,62.131110,-0.050256,-0.373617,0.323361,1,762.017617,0,Feb-23-2024,2024-02-23 14:42:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157644,761.55,762.00,760.40,760.80,110752,761.1875,55.470565,0.028077,-0.293278,0.321355,1,762.017617,0,Feb-23-2024,2024-02-23 14:45:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157645,760.80,761.25,760.05,760.90,56276,760.7500,56.067263,0.097106,-0.215202,0.312307,1,762.017617,0,Feb-23-2024,2024-02-23 14:48:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157646,760.85,761.00,759.75,760.10,56642,760.4250,50.264396,0.086264,-0.154908,0.241173,1,762.017617,0,Feb-23-2024,2024-02-23 14:51:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157647,760.10,760.95,760.00,760.80,67079,760.4625,54.683946,0.132627,-0.097401,0.230029,1,762.017617,0,Feb-23-2024,2024-02-23 14:54:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157648,760.60,761.00,760.50,760.90,60506,760.7500,55.295103,0.175418,-0.042838,0.218255,1,762.017617,0,Feb-23-2024,2024-02-23 14:57:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157649,760.75,760.80,759.35,759.80,174154,760.1750,47.677911,0.119194,-0.010431,0.129625,0,762.017617,0,Feb-23-2024,2024-02-23 15:00:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157650,759.65,760.80,759.15,759.55,135025,759.7875,46.122819,0.053843,0.002424,0.051420,0,762.017617,0,Feb-23-2024,2024-02-23 15:03:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157651,759.60,760.30,759.55,759.85,121111,759.8250,48.301929,0.025961,0.007131,0.018829,0,762.017617,0,Feb-23-2024,2024-02-23 15:06:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157652,759.80,759.95,758.90,758.90,156698,759.3875,42.447157,-0.071964,-0.008688,-0.063276,0,762.017617,0,Feb-23-2024,2024-02-23 15:09:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157653,758.90,759.45,758.70,758.90,177669,758.9875,42.447157,-0.147866,-0.036524,-0.111342,0,762.017617,0,Feb-23-2024,2024-02-23 15:12:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157654,758.90,759.00,757.55,757.95,370315,758.3500,37.215506,-0.281431,-0.085505,-0.195926,-1,761.819225,-1,Feb-23-2024,2024-02-23 15:15:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157655,757.90,759.00,757.30,758.10,485920,758.0750,38.504311,-0.370904,-0.142585,-0.228319,-1,761.805352,-1,Feb-23-2024,2024-02-23 15:18:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,758.3,749.65
157656,758.35,760.45,758.20,759.25,263506,759.0625,47.416344,-0.345038,-0.183076,-0.161963,0,761.805352,0,Feb-23-2024,2024-02-23 15:21:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157657,759.45,759.65,758.50,759.45,201659,759.2625,48.805878,-0.304887,-0.207438,-0.097449,0,761.805352,0,Feb-23-2024,2024-02-23 15:24:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30
157658,759.50,760.35,759.00,760.35,289069,759.8000,54.617578,-0.198160,-0.205582,0.007422,0,761.805352,0,Feb-23-2024,2024-02-23 15:27:00,765.65,765.0,774.3,758.3,781.65,749.65,766.3,765.0,758.30

# making the RSI divergence

In [49]:
df['rsi14'] = talib.RSI(df['Close'], timeperiod=14)

# making triple exponential moving average

In [50]:
ema1 = talib.EMA(df["Close"], timeperiod=7)
ema2 = talib.EMA(ema1, timeperiod=7)
ema3 = talib.EMA(ema2, timeperiod=7)
data["TEMA7"] = 3 * ema1 - 3 * ema2 + ema3
#++++++++++++++++++++++++++++++++++++++
emax1 = talib.EMA(df["Close"], timeperiod=21)
emax2 = talib.EMA(emax1, timeperiod=21)
emax3 = talib.EMA(emax2, timeperiod=21)
data["TEMA21"] = 3 * emax1 - 3 * emax2 + emax3

In [53]:
import heapq
import talib
rsi_div = []
def bearish_divergence_rsi_macd(data, lockback_period=25):
    signals = []
    bearish_divergence_observed = False  # Flag to track bearish divergence
    bearish_divergence_confirmed = False  # Flag to track confirmed bearish divergence
    
    for i in range(len(data)):
        if i >= lockback_period:
            rsi_column = "rsi14"
            rsi_values = data[rsi_column].iloc[i-lockback_period:i]
            price_highs = data['High'].iloc[i-lockback_period:i]
            two_highest_highs = heapq.nlargest(2, zip(price_highs, range(i-lockback_period, i)))
            highest_highs_indexes = [index for _, index in two_highest_highs]
            rsi_values_highest_highs = rsi_values.loc[highest_highs_indexes]
            rsi_corresponding_To_max_price = rsi_values_highest_highs.iloc[0]
            rsi_corresponding_to_second_max = rsi_values_highest_highs.iloc[1]
            if rsi_corresponding_To_max_price < rsi_corresponding_to_second_max:
                if (65 <= rsi_values_highest_highs.min() <= 85 and 65 <= rsi_values_highest_highs.max() <= 85):
                    if abs(highest_highs_indexes[0] - highest_highs_indexes[1]) >= 4:
                        signals.append(-1)
                        bearish_divergence_observed = True
                    else:
                        signals.append(0)
                else:
                    signals.append(0)
            else:
                signals.append(0)
        else:
            signals.append(0)
    data["signals"] = signals
    return data

In [ ]:
bearish_divergence_rsi_macd(df)

In [ ]:
sam = []  # empty list to store the result
prev_start = 0

while prev_start < len(x):
    i = prev_start
    if x['a'][i] == 1:  # check if 'a' is 1
        sam.append(0)
        found_one_in_b = False
        for j in range(i+1, min(i+5, len(x))):  # check next 4 entries in 'b' starting from i+2  (1,5)
            if x['b'][j] == 1:
                found_one_in_b = True
                start_index = j
                break
            else:
                sam.append(0)
                prev_start = j+1
        if found_one_in_b:  # if 'b' has 1 within next 4 entries
            for k in range(start_index, len(x)):  # check for continuous 1's in 'b'
                if x['b'][k] == 0:
                    prev_start = k
                    break
                sam.append(1)
                if k == len(x)-1:prev_start = k
        else:
            prev_start = j+1  
    else:
        sam.append(0)
        prev_start += 1